* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: auto;
    display: grid;
    width: 100%;
    margin: 20px auto;
    grid-gap: 10px 10px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-template-rows: repeat(2, 145px);
    grid-auto-rows: 140px;
    background-color: pink;
    padding: 10px;
    grid-auto-flow: dense;
}

.items {
    background-color: lightgreen;
    height: 142px;
    width: 142px;
    border: 1px solid rgb(65, 22, 22);
    align-items: center;
    justify-content: center;
}

.myimg {
    width: 100%;
    height: auto;
}